.hero-section {
  display: flex;
  flex-direction: row-reverse; /* Reverse the order of the flex items */
  align-items: center;
  padding: 2rem;
  background-color: #f9f9f9;
}

.hero-content {
  flex: 1;
  padding: 2rem;
}

.hero-content h1 {
  font-size: 2rem;
  color: #333;
}

.highlight {
  color: #f26522;
}

.hero-content ul {
  list-style: none;
  padding: 0;
}

.hero-content ul li {
  margin: 1rem 0;
}

.contact-info {
  margin-top: 2rem;
}

.hero-image {
  flex: 1;
}

.hero-image img {
  width: 100%;
}
